<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>

       <!-- BLOC TITLE -->
        {% block title %}ProStages{% endblock %}

    		</title>
        
       <!-- BLOC DES FEUILLES DE STYLE -->
        {% block stylesheets %}
        <!-- intégration CSS de Bootstrap -->
        <link href="{{asset('/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('/css/fontello.css')}}" rel="stylesheet">
        <!-- CSS de test pour visualiser les colonnes de Bootstrap -->
        <style type="text/css">
        	body
        	{
        		padding-top: 15px;
        	}
        	[class*=col-]
        	{
        		text-align: center;
        		line-height: 35px;
        		color: white;
        		background-color: #3498db;
        		border: 2px solid #2980b9;
        		border-radius: 6px;
        	}
        </style>
        {% endblock %}

    </head>

    <body>

    	<!-- BLOC DU TITRE -->
        {% block titre %}
        <div class="container">
        	<div class="row">
        		<div class="col-12">
	    			Titre
        		</div>
        	</div>
				</div>
        {% endblock %}

       <!-- BLOC DU MENU -->
        {% block menu %}
        <h1> <i class="icon-menu"></i> ------------MENU------------</h1>
        {% endblock %}

       <!-- BLOC DU CONTENU -->
        <div class="container">
        	<div class="row">
        		<div class="col-12">
		        {% block contenu %}
	    			Contenu
			    	{% endblock %}
        		</div>
        	</div>
				</div>

			<!-- BLOC DU FOOTER -->
        {% block footer %}
        <h1>------------FOOTER------------</h1>
        {% endblock %}

       <!-- BLOC DES SCRIPTS JS -->
        {% block javascripts %}
        <!-- intégration JS de Bootstrap -->
        <script src="{{asset('/js/bootstrap.min.js')}}"></script>
        {% endblock %}

    </body>
</html>
